<div class="container">
    <div class="rows">
        <div class="col-md-12 in-touch" >
            <h3>Let's Get In Touch</h3> 
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <hr class="hr-contact"> 
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="text-align:center">
               <p>
                   Do you have some news for us ? 
               </p>
               <p>
                   Are you experiencing some problem on our site ? 
               </p>
                Or you simply want us to talk technology. Send us a text on WhatsApp or send us an email
                <br>
                and we will get back to you ASAP !
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6" style="text-align:center;">
                <span>
                   <h2> <i class=" fa fa-Whatsapp fa-lg"></i> </h2>  
                </span>
                <br>
               <h4> +265 996 81 22 00 </h4>
            </div>
            <div class="col-md-6" style="text-align: center;">
                <span>
                    <h2> <i class=" fa fa-envelope fa-lg"></i> </h2> 
                </span>
                <br>    
                <h4>mwvotes.info@gmail.com</h4>
            </div>
        </div>
        
        <br>
        <p>
        
        </p>
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <h3>
                   Official results, visit:  <a href="https://mec.org.mw"> mec.org.mw </a>
                </h3> 
            </div>
        </div>
    </div>
</div>
