<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/index" routerLinkActive="active"> Mw Votes 2019</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/parliamentary-vote" routerLinkActive="active"><i class="material-icons">account_balance</i> <span> Parliamentary Vote </span></a>
        </li>
        <li class="nav-item">
           <a class="nav-link" routerLink="/presidential-vote" routerLinkActive="active"><i class="material-icons">how_to_reg </i> <span> Presidential Vote </span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/overview" routerLinkActive="active"><i class="material-icons">view_day</i> <span>Overview</span> </a>
        </li>
        <li class="nav-item">
           <a class="nav-link" routerLink="/contact-us" routerLinkActive="active"><i class="material-icons">contact_support</i><span> Contact Us</span> </a>
        </li>

      </ul>
      
    </div>
  </nav>